{% extends 'pistach/base.html' %}
{% load static %}
{% block title %}Вход{% endblock %}
{% block content %}
<header class="navbar bg-dark" style="height: 80px">
</header><div class="d-flex align-items-center justify-content-center">

        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        <form class="form-signin" style='margin: 7.5rem auto 231px;
    width: 90%;
    max-width: 30rem;
    padding: 2rem;
    border-radius: 10px;
    font-size: 16px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: white;
    box-shadow: 0 2px 8px #3ca3c1;' method="post" action="{% url 'signin' %}">
            {% csrf_token %}
            <label for="inputUsername" class="sr-only">Username</label>
            {{ form.username }}
            <label for="inputPassword" class="sr-only">Password</label>
            {{ form.password }}
            <div class="d-flex justify-content-center" style="margin-top: 16px; flex-direction: row"><button class="btn btn-dark mr-2" style="border-color: black;color:aliceblue;" type="submit">Log in</button>
        </form>
    </div></div>
{% endblock %}