{% extends 'pistach/base.html' %}
{% load static %}
{% block title %} videos {% endblock %}

{%block content%}
{% include 'pistach/block/navbar.html' %}
        <div class="d-flex justify-content-center align-content-center flex-wrap">
           <iframe style="margin: 10px;" width="360" height="210" src="https://www.youtube.com/embed/6Wz7BU6s5PU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe style="margin: 10px;" width="360" height="210" src="https://www.youtube.com/embed/3lmSgPWzkxA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe style="margin: 10px;" width="360" height="210" src="https://www.youtube.com/embed/Eh4Vz0Cl-q8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe style="margin: 10px;" width="360" height="210" src="https://www.youtube.com/embed/3G1nnD3Jaqk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
           <iframe style="margin: 10px;" width="360" height="210" src="https://www.youtube.com/embed/_0aLHRK8udU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe style="margin: 10px;" width="360" height="210" src="https://www.youtube.com/embed/TV5RKnkUZpw" title="YouTube video player"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe style="margin: 10px;" width="360" height="210" src="https://www.youtube.com/embed/I1-KNjBHsf4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe style="margin: 10px;" width="360" height="210" margin='10px' src="https://www.youtube.com/embed/5cwYBDt5SFA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe style="margin: 10px;" width="360" height="210" src="https://www.youtube.com/embed/su-Tl4Gyp7Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>{% endblock %}

